<form action="/homepage/addMaterial" method="POST" accept-charset="UTF-8" >
  <label for="username">Digite o Material</label>
  <br/>
  <input id="name" name="name" type="text" />
  <br/>
  <label for="password">Digite a quantidade</label>
  <br/>
  <input id="theAmount" name="theAmount" type="number" />
  <br/>
  <input name="commit" type="submit" value="Search" data-disable-with="Search" />
</form>