<% require 'bootstrap-sass'%>
<form action="/login" method="POST" accept-charset="UTF-8" >
  <label for="username">Digite seu user</label>
  <br/>
  <input id="username" name="username" type="text" />
  <br/>
  <label for="password">Digite sua senha</label>
  <br/>
  <input id="password" name="password" type="password" />
  <br/>
  <input name="commit" type="submit" value="Search" data-disable-with="Search" />
</form>
<a name="" id="" class="btn btn-primary" href="/register" role="button"><button>Cadastro</button><a>